.app-c-collection {
  border-bottom: 1px solid $govuk-border-colour;
  padding-bottom: govuk-spacing(3);
  margin-bottom: govuk-spacing(3);

  @include media(tablet) {
    padding-bottom: govuk-spacing(6);
    margin-bottom: govuk-spacing(9);
  }

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  &__description {
    color: $govuk-secondary-text-colour;
  }
}
